#nav {
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
    background-color: rgb(41, 37, 37);
    color: white;
    padding: 1.5%;
    font-size: x-large;
}

#search {
    padding: 4%;
}

#sub-nav {
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
    background-color: rgb(69, 65, 65);
    color: white;
    padding: 1.5%;
}

#home {
    width: 90%;
    margin: 5%;
}

#logos {
    display: flex;
    width: 99%;
    justify-content: space-around;
    margin-bottom: 8%;
}

#logos img {
    width: 10%;
    border: 0.5px solid black;
}

#footer {
    margin-top: 5%;
    display: flex;
    width: 99%;
    justify-content: space-around;
    background-color: whitesmoke
}

#about{
    margin: auto;
    width: 50%;
}

/*  */

body{
    margin: 0;
}

.header{
    background-color: whitesmoke;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link{
    border: 0ch;
    background: none;
    text-decoration: none;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .link,
.link:hover{
    color: black;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    color: black;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.login-form > input{
    margin-bottom: .5rem;
}